{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <p>Hello there! I'm Tanish, currently in my third year at Chitkara University, pursuing Computer Science. I'm a hard coder with a keen interest in data science and blockchain development, particularly in the Ethereum ecosystem.</p>
      <p>This blog website is my platform to share my thoughts, insights, and experiences. I'm passionate about exploring the realms of technology and sharing my learnings with the community.</p>
      <p>If you're also enthusiastic about tech and would like to contribute, feel free to get in touch. Whether you want to share your own blogs or collaborate on some exciting projects, I'm all ears. Let's learn and grow together!</p>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}