{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;


  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading" style="margin-top: px;">
          <h1>Trends.</h1>
          <span class="subheading">For the Developers</span>
          <span class="subheading">By the Developers</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container" style="padding-top: 100px;">
  <div class="row">
    {% for post in all_posts %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h5 class="card-title">{{ post.title }}</h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
          <p class="card-text">Posted by <a href="#">{{ post.author.name }}</a> on {{ post.date }}</p>
          {% if isloggedin.id == 1 %}
          <a href="{{ url_for('delete_post', post_id=post.id) }}" class="card-link">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% for email in emails %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <a href="{{ url_for('show_email', email_id=email.id) }}">
            <h5 class="card-title">{{ email.subject }}</h5>
          </a>
          <p class="card-text">Posted by <a href="#">{{ email.sender }}</a> on {{ email.date_received }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

      <!-- New Post -->
      {% if isloggedin.id ==1%}
      <div class="clearfix">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >Create New Post</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</div>
<hr />

{% include "footer.html" %}
